body {
    background-image: url("fondo.png");
    background-size: cover;
    background-position: center;
    height: 200vh;
    margin: 0;
    padding: 0;
}

.card {
    margin-top: 50px;
    position:relative;
    z-index: 1;
    background-color: #8B0000;
    color: white;
}

.card1 {
    margin-top: 50px;
    position:relative;
    z-index: 1;
    background-color: #8B0000;
    color: white;
}